@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*{
    font-family: "Roboto Serif", serif;
    font-size: medium;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

main{
    display:flex;
    flex-wrap: wrap;
    margin: 8px;
    padding: 10px;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: aliceblue;
}

.qrcodecomponent img{
    max-width: 100%;
    height: 60vh;
    border: 2px solid white;
    border-radius: 20px;
}

.para-content{
    background-color: rgb(20, 156, 156);
    margin: 20%;
    margin-top: 0;
    padding: 10%;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

a{
    text-decoration: none;
}


footer{
    background-color: darkgray;
}